@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  background: linear-gradient(#f2efef, #faf5f5); }

/************************HEADER************/
header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/istockphoto-950434234-612x612.jpg) center/cover no-repeat; }
  header .img_nav {
    width: 100%;
    margin-top: 10px;
    object-fit: contain; }
  header .titulo_nav h1 {
    text-align: center;
    color: white;
    margin-top: 15px;
    border-top: 5px double whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%; }
  header .titulo_nav p {
    color: white;
    text-align: center;
    margin-top: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%; }
  header .navegador a:hover {
    transform: translate(5px, 5px);
    color: yellow; }
  @media only screen and (max-width: 600px) {
    header .header {
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: 40% 12%;
      grid-template-areas: "1 2" "3 2";
      border-bottom: 5px double #0f0f7c;
      justify-content: center;
      height: 200px; }
    header .img_nav {
      grid-area: 1; }
    header .img_nav:hover {
      transform: translate(3px, 3px);
      border: solid yellow; }
    header .titulo_nav h1 {
      grid-area: 2;
      font-size: 30px; }
    header .titulo_nav p {
      grid-area: 2;
      font-size: 20px; }
    header .navegador {
      grid-area: 3;
      width: 70%; }
    header .navegador a {
      color: whitesmoke;
      font-size: 15px;
      justify-items: center; } }
  @media only screen and (min-width: 600px) {
    header .header {
      display: grid;
      grid-template-columns: 20% 80%;
      grid-auto-rows: 60% 10%;
      grid-template-areas: "1 2" "3 3";
      border-bottom: 5px double #0f0f7c;
      justify-content: center;
      height: 350px; }
    header .img_nav {
      grid-area: 1;
      transform: translate(5px, 5px);
      color: yellow; }
    header .img_nav:hover {
      transform: translate(3px, 3px);
      border: solid yellow; }
    header .titulo_nav h1 {
      grid-area: 2;
      font-size: 60px; }
    header .titulo_nav p {
      grid-area: 2;
      font-size: 35px;
      margin-top: 50px; }
    header .navegador {
      grid-area: 3;
      width: 80%; }
    header .navegador a {
      color: whitesmoke;
      font-size: 25px;
      justify-items: center; } }

/**************************FOOTER*******************************/
footer {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/istockphoto-950434234-612x612.jpg) center/cover no-repeat;
  border-top: 8px double #09099f;
  color: white;
  text-align: center; }
  footer .footer p:hover {
    color: yellow; }
  @media only screen and (max-width: 600px) {
    footer footer {
      height: 400px; }
    footer .footer p {
      font-size: 17px; } }
  @media only screen and (min-width: 600px) {
    footer .footer {
      display: flex;
      justify-content: space-between;
      height: 60px;
      margin-top: 5px; }
    footer .footer p {
      font-size: 12px; }
    footer .footer p:hover {
      transform: rotate(5deg); } }

/***************************INDEX*****************************/
.index h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: px;
  font-weight: bold; }

.index p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin-left: 10px;
  text-align: justify;
  width: 95%; }

.index img {
  margin-left: 50px;
  box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.48);
  width: 70%; }

/********************************CONTACTO*************************/
.contacto_h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: bold; }
  .contacto_h2 p {
    text-align: center; }

input:focus {
  background-color: #bff7c5;
  transition: all 1s; }

.tit, .tit--clientes, .tit--empresas, .tit--proveedores {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  margin-top: 15px; }

.tit--clientes {
  color: green; }

.tit--empresas {
  color: #e446bf; }

.tit--proveedores {
  color: blue; }

.check_box:focus {
  background-color: #2f302f;
  transition: all 1s; }

.p--form {
  text-align: left; }

.p--mapa {
  text-align: center;
  font-size: 20px;
  font-weight: bold; }

/* From uiverse.io by @adamgiebl */
.bt--enviar {
  margin-top: 12px;
  font-family: inherit;
  font-size: 13px;
  background: #A370F0;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s; }

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out; }

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out; }

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate; }

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1); }

button:hover span {
  transform: translateX(5em); }

button:active {
  transform: scale(0.95); }

@keyframes fly-1 {
  from {
    transform: translateY(0.1em); }
  to {
    transform: translateY(-0.1em); } }

/* From uiverse.io */
.cbx {
  position: relative;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  transition: background 0.1s ease;
  cursor: pointer;
  display: block; }

.cbx:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 8px;
  width: 7px;
  height: 14px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s; }

.lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer; }

#cbx:checked ~ .cbx {
  border-color: transparent;
  background: #A370F0;
  animation: jelly 0.6s ease; }

#cbx:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1); }

.cntr {
  position: relative; }

@keyframes jelly {
  from {
    transform: scale(1, 1); }
  30% {
    transform: scale(1.25, 0.75); }
  40% {
    transform: scale(0.75, 1.25); }
  50% {
    transform: scale(1.15, 0.85); }
  65% {
    transform: scale(0.95, 1.05); }
  75% {
    transform: scale(1.05, 0.95); }
  to {
    transform: scale(1, 1); } }

.hidden-xs-up {
  display: none !important; }

/* From uiverse.io by @adamgiebl */
.cssbuttons-io-button {
  background: #A370F0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em; }

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s; }

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em); }

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9; }

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em); }

.cssbuttons-io-button:active .icon {
  transform: scale(0.95); }

/*********************************NOSOTROS*************************/
.p--nosotros {
  font-size: 16px;
  color: blue;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  margin-top: 15px; }

.p--mision {
  font-size: 16px;
  color: #e30f32;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  margin-top: 15px; }

.p--vision {
  font-size: 16px;
  color: green;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  margin-top: 15px; }

.p--consultorios {
  font-size: 16px;
  color: black;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  margin-top: 15px; }

.div_nos h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.div_nos h2:hover {
  transform: rotate(5deg);
  color: green; }

/*--------------------------------SERVICIOS-----------------*/
/* From uiverse.io by @alexroumi */
button {
  padding: 5px 5px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: white;
  position: relative;
  font-weight: 1000;
  font-size: 16px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden; }

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: black;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms; }

button:hover {
  color: #e8e8e8; }

button:hover::before {
  width: 100%; }

.servicios_1 {
  grid-area: a;
  border: double green;
  border-style: outset;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.48);
  margin: 5px 0px; }

.servicios_2 {
  border: double green;
  border-style: outset;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.48);
  margin: 5px 0px; }

.servicios_3 {
  border: double green;
  border-style: outset;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.48);
  margin: 5px 0px; }

.servicios_4 {
  border: double green;
  border-style: outset;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.48);
  margin: 5px 0px; }

.servicios_5 {
  border: double green;
  border-style: outset;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.48);
  margin: 5px 0px; }

.servicios_6 {
  border: double green;
  border-style: outset;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.48);
  margin: 5px 0px; }

.card-text {
  font-size: 25px;
  text-align: center;
  color: #0b0b62;
  font-family: fantasy; }

/*------------------------------GALERIA----------------------*/
.imagenes h3 {
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.imagenes p {
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  margin-top: 10px; }

/***************************INDEX*****************************/
@media only screen and (max-width: 600px) {
  .index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 42% 10% 25% 23%;
    grid-template-areas: "1" "2" "3" "4";
    min-height: 2400px;
    justify-items: center; }
    .index .index h2 {
      grid-area: 1;
      font-size: 18px; }
    .index .parrafo_uno {
      grid-area: 1;
      font-size: 15px; }
    .index .index iframe {
      grid-area: 2; }
    .index .index_img1 {
      grid-area: 3; }
    .index .parrafo_dos {
      grid-area: 3;
      margin-top: 40px; }
    .index .index_img2 {
      grid-area: 4; }
    .index .parrafo_tres {
      grid-area: 4;
      margin-top: 40px; } }

@media only screen and (min-width: 600px) {
  .index {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55% 45%;
    grid-template-areas: "1 2" "3 4";
    min-height: 1250px;
    align-items: center;
    justify-items: center; }
    .index .index h2 {
      grid-area: 1;
      font-size: 28px; }
    .index .parrafo_uno {
      grid-area: 1; }
    .index .index iframe {
      grid-area: 2; }
    .index .index_img1 {
      grid-area: 3;
      margin-left: 90px; }
    .index .parrafo_dos {
      grid-area: 3;
      margin-top: 40px; }
    .index .index_img2 {
      grid-area: 4;
      margin-left: 90px; }
    .index .parrafo_tres {
      grid-area: 4;
      margin-top: 40px; } }

/********************************CONTACTO*************************/
@media only screen and (max-width: 600px) {
  .main_contacto {
    height: 1700px; }
    .main_contacto .contacto_h2 {
      font-size: 30px; }
    .main_contacto .contacto p {
      font-size: 15px;
      margin-top: 20px; }
    .main_contacto .contacto h3 {
      font-size: 20px; }
    .main_contacto .contacto iframe {
      width: 98%;
      margin-left: 5px; }
    .main_contacto .clientes {
      width: 90%;
      margin-left: 5px; }
    .main_contacto .empresas {
      width: 90%;
      margin-left: 5px; }
    .main_contacto .proveedores {
      width: 90%;
      margin-left: 5px; } }

@media only screen and (min-width: 600px) {
  .contacto iframe {
    width: 65%;
    margin-left: 150px; }
  .clientes {
    width: 70%;
    margin-left: 200px; }
  .empresas {
    width: 70%;
    margin-left: 150px; }
  .proveedores {
    width: 70%;
    margin-left: 150px; } }

/*********************************NOSOTROS*************************/
@media only screen and (max-width: 600px) {
  .div_nos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 28% 25% 15% 12%;
    grid-template-areas: "1" "2" "3" "4" "5";
    height: 2700px;
    justify-items: center; }
    .div_nos .div_nos p {
      font-size: 16px;
      margin-left: 10px; }
    .div_nos .div_nos h2 {
      font-size: 20px; }
    .div_nos .nosotros {
      grid-area: 1;
      width: 90%; }
    .div_nos .mision {
      grid-area: 2;
      width: 90%; }
    .div_nos .vision {
      grid-area: 3;
      width: 90%; }
    .div_nos .consul {
      grid-area: 4;
      width: 90%; }
    .div_nos .carrusel {
      grid-area: 5;
      width: 90%; } }

@media only screen and (min-width: 600px) {
  .div_nos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 40% 15% 25%;
    grid-template-areas: "a1 a1" "a2 a3" "a4 a4" "a5 a5";
    height: 1250px;
    justify-items: center; }
    .div_nos .nosotros {
      grid-area: a1;
      width: 95%; }
    .div_nos .mision {
      grid-area: a2;
      width: 95%; }
    .div_nos .vision {
      grid-area: a3;
      width: 90%; }
    .div_nos .consul {
      grid-area: a4;
      width: 95%; }
    .div_nos .carrusel {
      grid-area: a5;
      width: 30%; } }

/*--------------------------------SERVICIOS-----------------*/
@media only screen and (max-width: 600px) {
  .servcios_generales {
    height: 1800px; }
  .servicios_1 {
    margin-left: 60px; }
  .servicios_2 {
    margin-left: 60px; }
  .servicios_3 {
    margin-left: 60px; }
  .servicios_4 {
    margin-left: 60px; }
  .servicios_5 {
    margin-left: 60px; }
  .servicios_6 {
    margin-left: 60px; }
  .main_h2 {
    text-align: center;
    font-weight: bold; } }

@media only screen and (min-width: 600px) {
  .main_h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold; }
  .servicios_generales {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "a b" "c d" "e f";
    justify-items: center;
    height: 1000px; }
    .servicios_generales .servicios_1 {
      grid-area: a; }
    .servicios_generales .servicios_2 {
      grid-area: b; }
    .servicios_generales .servicios_3 {
      grid-area: c; }
    .servicios_generales .servicios_4 {
      grid-area: d; }
    .servicios_generales .servicios_5 {
      grid-area: e; }
    .servicios_generales .servicios_6 {
      grid-area: f; } }

/*------------------------------GALERIA----------------------*/
@media only screen and (max-width: 600px) {
  .imagenes {
    width: 95%;
    margin-left: 10px;
    height: 1900px; }
    .imagenes .imagenes h3 {
      margin-top: 10px;
      width: 90%; } }

@media only screen and (min-width: 600px) {
  .imagenes {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "a b" "c d" "e f";
    align-items: center;
    justify-items: center;
    height: 1500px; }
    .imagenes .implantes {
      grid-area: a;
      width: 60%; }
    .imagenes .protesis {
      grid-area: b;
      width: 60%; }
    .imagenes .estetica {
      grid-area: c;
      width: 60%; }
    .imagenes .ortodoncia {
      grid-area: d;
      width: 60%; }
    .imagenes .endodoncia {
      grid-area: e;
      width: 60%; }
    .imagenes .odontopediatria {
      grid-area: f;
      width: 60%; } }
