
/***************************INDEX*****************************/

@media only screen and (max-width:600px) {
    .index {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 27% 20% 25% 25%;
        grid-template-areas: "1"
            "2"
            "3"
            "4";
        row-gap: 10px;
        height: 1190px;
        justify-items: center;

        .index h2 {
            grid-area: 1;
            font-size: 18px;

        }

        .index iframe {
            grid-area: 2;
        }

        .index_img1 {
            grid-area: 3;
        }

        .index_img2 {
            grid-area: 4;
        }

        .index p {
            grid-area: 1;
            font-size: 15px;
            margin: 5px 30px 10px 10px;
            width: 90%;
        }

        .index img {
            width: 85%;
            object-fit: contain;
            margin-left: 20px;
            box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.48);
        }

        .index img:hover {
            transform: translate(5px, 5px);
            border: solid black;
        }
    }
}

@media only screen and (min-width:600px) {
    .index {
        display: grid;
        height: 670px;
        grid-template-columns: 49% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "1 2"
            "3 4";
        align-items: center;
        justify-items: center;

        .index h2 {
            grid-area: 1;
            font-size: 28px;
        }

        .index p {
            grid-area: 1;
            font-size: 15px;
            margin: 30px 20px 10px 20px;
        }

        .index iframe {
            grid-area: 2;

        }

        .index_img1 {
            grid-area: 3;
        }

        .index_img2 {
            grid-area: 4;
        }

        .index img {
            width: 65%;
            object-fit: contain;
            align-content: center;
            margin-left: 80px;
            box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.48);

            .index img:hover {
                transform: translate(10px, 10px);
                border: solid black;
            }
        }
    }
}
/********************************CONTACTO*************************/

@media only screen and (max-width:600px) {
    .main_contacto {
        height: 1600px;

        .contacto_h2 {
            font-size: 30px;
        }

        .contacto p {
            font-size: 15px;
            margin-top: 20px;
        }

        .contacto h3 {
            font-size: 20px;
        }

        .contacto iframe {
            width: 98%;
        }
    }

}

@media only screen and (min-width:600px) {
    .main_contacto {
        height: 1800px;

        .contacto_h2 {
            font-size: 25px;
        }

        .contacto {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 35% 25% 25% 28%;
            grid-template-areas:
                "1"
                "2"
                "3"
                "4";
            justify-items: center;
            align-items: center;

            .contacto p {
                font-size: 25px;

                .clientes {
                    grid-area: 1;
                }

                .empresas {
                    grid-area: 2;
                }

                .proveedores {
                    grid-area: 3;
                }
            }
        }

        .mapa {
            grid-area: 4;
        }
    }

}

/*********************************NOSOTROS*************************/

@media only screen and (max-width:600px) {
    .div_nos {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 34% 20% 12% 18% 16%;
        grid-template-areas: "1"
            "2"
            "3"
            "4"
            "5";
        height: 2100px;
        justify-items: center;

        .div_nos p {
            font-size: 16px;
            margin-left: 10px;
        }

        .div_nos h2 {
            font-size: 20px;
        }

        .nosotros {
            grid-area: 1;
            width: 95%;
        }

        .mision {
            grid-area: 2;
            width: 95%;
        }

        .vision {
            grid-area: 3;
            width: 90%;
        }

        .consul {
            grid-area: 4;
            width: 95%;
        }

        .carrusel {
            grid-area: 5;
            width: 95%;
        }
    }

}

@media only screen and (min-width:600px) {
    .div_nos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 20% 30%;
        grid-template-areas: "a1 a1"
            "a2 a3"
            "a4 a4"
            "a5 a5";
        height: 1300px;
        justify-items: center;

        .div_nos p {
            font-size: 16px;
        }

        .div_nos h2 {
            font-size: 25px;
        }

        .nosotros {
            grid-area: a1;
            width: 95%;
        }

        .mision {
            grid-area: a2;
            width: 95%;
        }

        .vision {
            grid-area: a3;
            width: 90%;
        }

        .consul {
            grid-area: a4;
            width: 95%;
        }

        .carrusel {
            grid-area: a5;
            width: 40%;
        }
    }
}

/*--------------------------------SERVICIOS-----------------*/
@media only screen and (max-width:600px) {
    .servcios_generales {
        height: 2200px;
        margin-left: 50px;

        .servcios_generales p {
            font-size: 18px;
            text-align: justify;
        }

        .servcios_generales h5 {
            text-align: center;
            color: blue;
            font-weight: bold;
            font-size: 25px;
        }
    }

    .main_h2 {
        text-align: center;
        font-weight: bold;
    }

}

@media only screen and (min-width:600px) {
    .main_h2 {
        margin-bottom: 20px;
        margin: 20px 20px 20px 20px;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: bold;

    }

    .servcios_generales {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: 35% 33% 32% 32% 30% 30%;
        grid-template-areas: "a b"
            "c d"
            "e f";
        justify-items: center;
        height: 1100px;

        .servcios_generales h5 {
            text-align: center;
            color: blue;
            font-weight: bold;
        }

        .servicios_1 {
            grid-area: a;

        }

        .servicios_2 {
            grid-area: b;
        }

        .servicios_3 {
            grid-area: c;
        }

        .servicios_4 {
            grid-area: d;
        }

        .servicios_5 {
            grid-area: e;
        }

        .servicios_6 {
            grid-area: f;
        }
    }
}

/*------------------------------GALERIA----------------------*/
@media only screen and (max-width:600px) {
    .imagenes {
        width: 95%;
        margin-left: 10px;
        height: 2900px;

        .imagenes h3 {
            margin-top: 10px;
            width: 90%;
        }

        .imagenes p {
            font-size: 15px;
            width: 95%;
        }
    }
}
@media only screen and (min-width:600px) {
    .imagenes {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: 33% 33% 33%;
        grid-template-areas: "a b"
            "c d"
            "e f";
        column-gap: 10px;
        row-gap: 10px;
        align-items: center;
        justify-items: center;
        height: 1800px;

        .imagenes p {
            font-size: 15px;
        }

        .implantes {
            grid-area: a;
            width: 80%;
        }

        .protesis {
            grid-area: b;
            width: 80%;
        }

        .estetica {
            grid-area: c;
            width: 80%;
        }

        .ortodoncia {
            grid-area: d;
            width: 80%;
        }

        .endodoncia {
            grid-area: e;
            width: 80%;
        }

        .odontopediatria {
            grid-area: f;
            width: 80%;
        }
    }
}
